@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media (prefers-reduced-motion) {
    * {
        transition: none;        
    }
}

html {
    background-image: linear-gradient(180deg, var(--bs-teal), var(--bs-cyan));
}

* {
    font-family: "Nunito";
}

body {
    transition: background-color .5s, transform .5s;
    margin-bottom: 100px;
    transform: scale(0);
    transform-origin: top right;
    border-radius: var(--bs-border-radius-2xl);
    margin: 2.5%;
}

#header {
    border-radius: var(--bs-border-radius-2xl);
}

#image-preview {
    height: 100%;
    width: 100%;
    /* display: none; */
    transform: scale(0);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}
  
#preview-img {
    position: relative;
    width: 100%;
    top: 0;
    text-align: center;
}

/* #image-preview {
    opacity: 0;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    background-color: white;
    transition: opacity .5s, display .5s;
} */

/* #preview-img {
    height: 100%;
    width: 100%;
} */

.gallery-img {
    width: 100%;
    opacity: 0;
    transition: opacity .5s, transform .7s, position .5s, top .5s, left .5s;
    position: relative;
}

.img-link {
    width: 30%;
    margin: 1%;
}

.gallery-img.enlarged {
    z-index: 1;
    transform: scale(25);
}

.img-link {
    display: inline-block;
}

.pfp {
    border-width: 3px;
    border-style: solid;
}

.sidebar {
    /* background-image: linear-gradient(180deg, var(--bs-teal), var(--bs-cyan)); */
    background-color: white;
    height: 100%;
    width: 0;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.sidebar > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s, transform .5s;
    transform-origin: 100% 50%;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}